{% extends 'base/base_clean.html' %}

{% block container %}
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100" style="margin-top: 500px">
            <div class="border">
                <a class="btn btn-info m-2" href="/login" target="_blank">Login</a>
                <a class="btn btn-info m-2" href="/error" target="_blank">404</a>
                <a class="btn btn-info m-2" href="/welcome" target="_blank">Index</a>
                <a class="btn btn-info m-2" href="/register" target="_blank">Register</a>
                <a class="btn btn-info m-2" href="/forget-password" target="_blank">Forgot Password</a>
            </div>
        </div>
    </div>
{% endblock %}